<div class="container">
  <div class="h-100 p-5">
    <div>
      <h1 class="display-5 fw-bold lh-1 mb-3"><%= @article.title %></h1>
      <p class="fst-italic text-primary">
        ....by:
        <% if @article.user %>
          <%= link_to @article.user.username.titlecase, user_path(@article.user), class: "text-decoration-none" %>
        <% end %>
      </p>
      <hr>
      
    </div>
    <p><%= @article.description %></p>
    <hr>
    <div class="d-grid gap-4 d-sm-flex justify-content-sm-center">
        <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
          <%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary" %>
          <%= button_to 'Delete', @article, method: :delete, data:{confirm: 'Are you sure?'}, :class => "btn btn-danger" %>
        <% end %>
        <%= link_to 'Bact to articles', articles_path, :class => "btn btn-outline-dark", :type => "button" %>
      </div>
  </div>
</div>
