<div class="container">

  <%= form_with(model: @user, local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :username %>
      <%= f.text_field :username, :class => "form-control", placeholder: "Enter your username" %>
    </div>
    <div class="mb-3">
      <%= f.label :email %>
      <%= f.email_field :email, :class => "form-control", placeholder: "Enter your email" %>
    </div>
    <div class="mb-3">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "form-control", placeholder: "Choose your password" %>
    </div>
    <div class="mb-3">
      <%= f.submit(@user.new_record? ? "Sign up" : "Update account", :class => "btn btn-primary mb-3") %>
    </div>
  <% end %>
   <div class="container">
    <%= link_to 'Cancel', articles_path, :class => "btn btn-outline-dark"%>
  </div>
</div>