<div>
  <h1 class="display-5 fw-bold lh-1 mb-3">Author's Profile</h1>
  <hr>
  
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= gravatar_for @user, size: 180 %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @user.username.titlecase%></h5>
          <p class="card-text">Varified Alpha blog member.</p>
          <p class="card-text"><small class="text-muted">Since: <%= time_ago_in_words(@user.created_at) %></small></p>
          
          <% if logged_in? %>
            <% if @user == current_user %>
              <%= link_to "Edit Profile", edit_user_path, class: "btn btn-primary" %>
            <% end %>

            <% if current_user.admin? %>
              <%= button_to "Delete Profile", @user, method: :delete, data:{confirm: 'Are you sure?'}, class: "btn btn-danger my-2" %>
              <%= link_to "Go Back", users_path, class: "btn btn-secondary" %>
            <% end %>
          <% else %>
            <%= link_to "Go Back", users_path, class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h3 class="text-left mt-4">Articles</h3>
  <hr>

  <%= render "articles/article"%>
</div>