  <div class="container col-xxl-8 px-4 text-center">
      <%= image_tag "alpha.png", height: 190, width: 190, :alt => "alpha logo", :class => "d-block mx-auto mb-4" %>
      <h1 class="display-5 fw-bold"><%= @headline %></h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"><%= @content %></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <% if logged_in? %>
            <%= link_to "My Profile", user_path(current_user), :class => "btn btn-primary btn-lg px-4 gap-3" %>
            <%= link_to "Read Now", articles_path, :class => "btn btn-outline-secondary btn-lg px-4" %>
          <% else %>
            <%= link_to "Log In", login_path, :class => "btn btn-primary btn-lg px-4 gap-3" %>
            <%= link_to "Sign Up!", sign_up_path, :class => "btn btn-secondary btn-lg px-4 gap-3" %>
          <% end %>
        </div>
      </div>
    </div>
