<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <%= link_to "AlphaBlog", root_path, :class => "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, :class => "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, :class => "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to "Articles", articles_path, :class => "dropdown-item" %>
            </li>
            <li>
              <%= link_to "New Article", new_article_path, :class => "dropdown-item" %>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <%= link_to "Bloggers", users_path, :class => "nav-link" %>
        </li>
      </ul>

      <%# search form %>
      <%= form_tag articles_path, class: "d-flex", role: "search", method: :get do %>
        <%= text_field_tag :search, params[:search], class: "form-control me-2", type: "search", placeholder: "Search" %>
        <%= submit_tag "Search", class: "btn btn-outline-primary", type: "submit" %>
      <% end %>

      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <% if logged_in? %>
          <li class="nav-item col-6 col-md-auto">
            <%= link_to current_user.username.titlecase, user_path(current_user), :class => "nav-link", method: :delete %>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <%= link_to "Logout", logout_path, :class => "nav-link", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item col-6 col-md-auto">
            <%= link_to "Login", login_path, :class => "nav-link" %>
          </li>

          <li class="nav-item col-6 col-md-auto">
            <%= link_to "Sign up", sign_up_path, :class => "nav-link" %>
          </li>
        <% end %>
      
      </ul>

    </div>
  </div>
</nav>